<!DOCTYPE html>
<html>
<head>
  <title>Scorm2004</title>
  <%= stylesheet_link_tag    "scorm2004/application", :media => "all" %>
  <%= javascript_include_tag "scorm2004/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
